body.painel{
	font: 14px Georgia, "Times New Roman", Times, serif;
	color: #333;
	background: #F8F8F8;
}

a:link, a:active, a:visited{
	text-decoration: none;
	color: #09f;
}

a:hover{
	text-decoration: underline;
}

#dropdown{
	font-size: 15px;
	float: right;
	margin-top: -4%;
}

#dropdown li {
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

#dropdown li ul {
	display: none;
	border: #999999 solid 1px;
	float: left;
	position: relative;
	z-index: 200;
	border-radius: 3px;
	background: #FFFFFF;
}

#dropdown li:hover ul {display: block;}

#dropdown li li {
  background: url(../images/sub_sep.gif) bottom left no-repeat;
  margin: 0px;
  padding: 0px;
}

#dropdown li ul a {
	display: block;
	font-size: 14px;
	text-align: left;
    margin: 10px;
}

.profile{
	width: 25px;
	height: 25px;
	margin-left: 10px;	
}
.buttom_user{
	border: hidden;
	background: none;
	text-align: left;
	float: left;
	line-height: 35px;
	color: #999999;
}

.buttom_user:hover{
	color: #333333;
	cursor: pointer;
}

#detalhes img{
	margin: 5px 5px 0 0;
	width: 15px;
	height: 15px;
}
.botao{
	width: 210px;
	background: #FFFFFF;
	text-align: center;
	border: hidden;
	border-radius: 5px;
}

.info{
	height: 80px;	
	background: #003366;
	color: #FFFFFF;
	padding: 5% 5%;
}
.info:hover{
	background: #003399;
	cursor: pointer;
}

.info2{
	height: 80px;	
	background: #660000;
	color: #FFFFFF;
	padding: 5% 5%;
}
.info2:hover{
	background: #990000;
	cursor: pointer;
}

.info3{
	height: 80px;	
	background: #003300;
	color: #FFFFFF;
	padding: 5% 5%;
}
.info3:hover{
	background: #006600;
	cursor: pointer;
}

.info4{
	height: 80px;	
	background: #663300;
	color: #FFFFFF;
	padding: 5% 5%;
}
.info4:hover{
	background: #996633;
	cursor: pointer;
}

.info5{
	height: 80px;	
	background: #333333;
	color: #FFFFFF;
	padding: 5% 5%;
}
.info5:hover{
	background: #666666;
	cursor: pointer;
}

.img{
	float: left;
}

.infor{
	font-size: 16px;
	text-align: center;
}

.detalhes{
	height: 30px;
	padding: 5%;
}
.img{
	width: 50px;
	height: 50px;
	padding: 2%;
}

#header{
	height: 100px;
	border-bottom: 2px solid #999;
	padding: 10px;
}

#header h1{
	font-size: 30px;
	margin-top: 2%;
}

#wrap-content{
	display: table;
	height: auto;
	padding: 1%;
	width: 95%;
}

#content{
	float: right;
	width: 85%;
	padding: 25px 0 0 5px;
}

#content h2{
	font-size: 20px;
	/*border-bottom: 1px solid #999;*/
	margin-bottom: 10px;	
}

.dados{
	margin-top: 30px;
}

#sidebar{
	float: left;
	width: 15%;
	padding: 20px 0;
}

#sidebar h2{
	font-size: 20px;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}

#sidebar ul li{
	padding: 3% 5%;
	width: 85%;
	background: #F8F8F8;
	margin-bottom: 2px;
	font-size: 18px;
	display: block;
}


#accordion ul{
	display: none;
	margin: 4%;
	margin-left: 6%;
	
}

#donutchart{
	float: right;
}

#chart_div{
	float: left;
}

/*#accordion li:hover ul{ display: block;}*/

#accordion ul li{
	padding: 3%;
	width: 80%;
	background: #fff;
	margin-bottom: 5px;
	margin-left: 2%;
	font-size: 16px;
}

#footer{
	height: 20px;
	border-top: 2px solid #999;
	padding: 20px 10px;
	text-align: center;
}

#loginform{
	width: 500px;
	margin: 200px auto;
}

fieldset{
	border: 1px solid #f4f4f4;
	padding: 20px 10px;
}

legend{
	font-size: 16px;
	padding: 0 10px;
}

form li{
	padding: 5px;
	margin-bottom: 1px;	
}

form li.center{
	text-align: center;
}

form li.left{
	text-align: left;
}

form li.right{
	text-align: right;
}

form input[type=submit], form input[type=button], form input[type=file]{
	cursor: pointer;
	padding: 5px 25px;
	border: 1px solid #ccc;
	margin: 0 5px;
}

form input[type=submit]:hover, form input[type=button]:hover{
	background: #f8f8f8;
	border: 1px solid #666;
}

form label{
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 5px;
}

.admissao_demissao{
	width: 450px;
	padding-bottom: 40px;
}
.li_left{
	float: left;
}
.li_right{
	float: right;
}

form label.error{
	float: none;
	display: block;
	color: #f00;
	width: auto;
	text-align: left;
	padding-left: 105px;
}

form input[type=text], form input[type=email], form input[type=file], form input[type=password], form textarea{
	padding: 5px;
	border: 1px solid #ccc;
}

form input[type=text]:focus,  form input[type=email]:focus, form input[type=file]:focus, form input[type=password]:focus, form textarea:focus{
	background: #f8f8f8;
	border: 1px solid #666;
}

.radius5{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.erro, .sucesso, .alerta, .pergunta{
	width: 96%;
	padding: 2%;
	margin: 10px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.sucesso{
	background: #eff4d4;
	border: 1px solid #8fad3d;
	color: #596c26;
}

.alerta{
	background: #ffea97;
	border: 1px solid #e2b500;
	color: #995f5b;
}

.erro{
	background: #efcec9;
	border: 1px solid #ad3f30;
	color: #943728;
}

.pergunta{
	background: #c6d8f0;
	border: 1px solid #4381cc;
	color: #5c58b9;
}

#acoes img{
	width: 16px;
	height: 16px;
}

li img{
	width: 20px;
	height: 20px;
}
